.container{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-inline: 2rem;
  border-radius: 0px 0px 2rem 2rem;
  box-shadow:  rgb(0, 0, 0) 5px 0px 16px ;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}